// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;


// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 12;


// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$helvetica: Helvetica, Arial, sans-serif;

// ----------------------------------------------------------------------
  // Grid
// ----------------------------------------------------------------------
$grid-columns: 12;

$spacing: (
        xs            : .25rem,
        sm            : .5rem,
        def           : 1rem,
        md            : 2rem,
        lg            : 4rem,
        xl            : 8rem
) !default;


@media (min-width: 1400px){
  .container {
    max-width: 1360px;
  }
}

@media (min-width: 1690px){
  .container {
    max-width: 1600px;
  }
}

$primary-color: #e50914;
$secondary-color: #D3D4D9;
$secondary-color--rgba-shadow: rgba(75, 136, 162, 0.6);
$accent-color: #4B88A2;
$dark-color: #252627;
$dark-color--opacity: rgba(37, 38, 39, 0.6);
$white-color: #FFF9FB;

