.heroview__wrapper{
  width: 100%;
  position: relative;
  min-height: 600px;
  display: flex;
  align-items: center;
  background-blend-mode: hard-light;
  background-size: cover;

}

.heroview__content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@include mq-sm-min{
  .heroview__content{
    position: relative;
    width: 50%;
    left: 10vw;
  }
}

.heroview__wrapper{
  color: white;
}

.heroview__item-title{
  font-size: fz(xl);
  font-family: $font-title;
}

.heroview__item-subtitle{
  font-size: fz(lg);
}

.heroview__data{
  background-color: rgba(0, 4, 0, 0.6);
  padding: 2rem;
  min-width: 300px;
}

.heroview__item-type{
  display: flex;
  line-height: 1;
}